/* .sudo::after{
    content: "*";
    color: red;
    padding: 5px;
}
.sudo::before{
    content: "*";
    color: red;
    padding: 5px;
}*/
*{
    margin: 0;
    padding: p;
    box-sizing: border-box;
} 
body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1.5;
    background-repeat: no-repeat ;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: white;
    padding:  0 10px;
}

/* Navbar */

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1550px;
    height: 80px;

    background-color: blue;
    opacity: o.8;
    position: fixed;
    top: 0;

}
.navbar ul{
    display: flex;
}

.navbar h1{
    color: green;
}
.navbar #logo{
    color: white;
}